# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# --- Python specific ---
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Compiled libraries / binaries
*.dll
*.so
*.dylib
*.lib
*.a

# Logs / cache
*.log
*.tmp
*.bak

# Jupyter / experiments
.ipynb_checkpoints/

# VSCode / PyCharm
.vscode/
.idea/

# Environments and data
.env
.env.*
*.csv
*.tsv
*.sqlite3
*.db

# Models and large files
*.pt
*.pth
*.onnx
*.h5
*.pkl
*.joblib

